.panel {
 padding: 16px;
}

.notif-type {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    align-items: flex-start;
}

.radio-button {
    margin: 5px;
}

button {
    display: block;
    margin: 8px 0 0 auto;
}