<div class="container">
  <div class="left">
    <app-model-output></app-model-output>
    <div class="info">
      <div class="project-info">
        <h1>Welcome to the notification stress model</h1>

        <p>With this tool, you can simulate the effect of notifications on stress levels. This tool was built for Georgia Tech's CS6795.</p>

        <h2>Instructions</h2>
        <p>Enter in a schedule of notifications on the right panel. Add as many entries as you'd like. Click "Simulate" to run the model with the provided schedule. You can display multiple runs from the model on the graph, or clear the output between runs. You can zoom into a portion of the chart using the timeline below the chart. You can also export the chart as an image.</p>
        <ul>
          <li>Type: Notification type</li>
          <li>Start time: When the notifications should begin being sent</li>
          <li>Count: How many notification to send in total</li>
          <li>Interval: How far apart to send notifications</li>
        </ul>

        <h2>Notes</h2>
        <p>The model assumes the schedule to the right. For example, from midnight to 8:30am, the modeled person has caretaking responsibilities.</p>
        <p>Notifications can only be sent one at a time. If you want to send multiple notifications at the same time, you can add a new entry that begins at the same time.</p>
      </div>
      <div class="schedule">
        <h2>Schedule</h2>
        <table>
          <tr>
            <td>12:00am</td>
            <td>Caretaking</td>
          </tr>
          <tr>
            <td>8:30am</td>
            <td>Driving</td>
          </tr>
          <tr>
            <td>9:00am</td>
            <td>Work/School</td>
          </tr>
          <tr>
            <td>5:00pm</td>
            <td>Fitness</td>
          </tr>
          <tr>
            <td>6:00pm</td>
            <td>Driving</td>
          </tr>
          <tr>
            <td>6:30pm</td>
            <td>Leisure</td>
          </tr>
          <tr>
            <td>7:00pm</td>
            <td>Caretaking</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <app-notification-panel></app-notification-panel>
</div>