<div class="container">
  <div class="left">
    <app-model-output></app-model-output>
    <div class="info">
      <div class="project-info">
        More info!
      </div>
      <div class="schedule">
        <h2>Schedule</h2>
        <table>
          <tr>
            <td>12:00am</td>
            <td>Caretaking</td>
          </tr>
          <tr>
            <td>8:30am</td>
            <td>Driving</td>
          </tr>
          <tr>
            <td>9:00am</td>
            <td>Work/School</td>
          </tr>
          <tr>
            <td>5:00pm</td>
            <td>Fitness</td>
          </tr>
          <tr>
            <td>6:00pm</td>
            <td>Driving</td>
          </tr>
          <tr>
            <td>6:30pm</td>
            <td>Leisure</td>
          </tr>
          <tr>
            <td>7:00pm</td>
            <td>Caretaking</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <app-notification-panel></app-notification-panel>
</div>