.container {
    width: 66vw;
    height: 55vh;
    background-color: #fff;
}

button {
    margin-top: 12px;
}

.clear {
    margin-right: 4px;
}

p {
    margin-bottom: 0;
}

.zero-state {
    background-color: #E0E0E0;
    border-radius: 12px;
    width: 20vw;
    height: 25vh;
    margin: 0 auto;
    position: absolute;
    top: 15vh;
    left: 20vw;

    p {
        margin: 20px;
        text-align: center;
    }
}