<div class="container" id="chart">
    <ngx-charts-line-chart [results]="modelData" [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="'Simulation Run'"
        [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'time'" [yAxisLabel]="'stress level'"
        [autoScale]="true" [timeline]="true">
        <ng-template #seriesTooltipTemplate let-model="model">
            <div class="tooltip">
                Hover over the point for more information.
            </div>
        </ng-template>
        <ng-template #tooltipTemplate let-model="model">
            <div class="tooltip">
                <p>Time: {{model.prettyTime}}</p>
                <p>Stress level: {{model.value}}</p>
                <p *ngIf="model.tooltipText">{{model.tooltipText}}</p>
            </div>
        </ng-template>
    </ngx-charts-line-chart>
    <button mat-raised-button class="chart-button clear" color="primary" (click)="clearGraph()" [disabled]="modelData.length === 0">Clear output</button>
    <button mat-raised-button class="chart-button" color="primary" (click)="saveChart()" [disabled]="modelData.length === 0">Save chart image</button>
</div>
<div class="zero-state" *ngIf="modelData.length === 0"><p>Simulate a notification schedule to see the model output.</p></div>